*.iml
*.db-journal
.gradle/
.idea/
build/
out/
libs/
/local.properties
.DS_Store
/captures
/gradle
.externalNativeBuild
gradle.properties
gradlew*
ManagerServer/xmanager.conf

ManagerServer/TM8_100_2019_0420.txt
ManagerServer/TM8_100_2019_0420_1.txt
ManagerServer/MacTool.log
ManagerServer/Register.log
